# Node
node_modules
.webpack
.DS_Store
# Local DynamoDB
.dynamodb
local-db
.idea
.serverless
coverage
.npmrc
# Others
.history
OnlyForMe.md
.build
scripts/auto-deploy.sh
notCommit/**
TODO_LIST.md
./Docs/**